@import url('https://fonts.googleapis.com/css?family=Saira&display=swap');

html, body {
    font-family: 'Saira', sans-serif;
    height: 100%
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
}

.content-block {
    display: flex;
    justify-content: center;
    flex: 1 0 auto;
    margin-top: 125px;
    margin-bottom: 50px;
}

.column-container {
    width: 80%;
    display: flex;
    flex-direction: column;
}

.centered-flex-container {
    justify-content: center;
}

.hoop-primary {
    color: #ff5722 !important; 
}

.hoop-secondary {
    color: #ff9800 !important;
}

a.hoop-secondary:hover {
    color: #ff5722 !important;
}

.logoBlue {
    color: rgba(29, 66, 138, 1);
}

.midsize-container {
    width: 80%;
}

.card-img {
    max-width: 100%;
    height: auto;
}

.ui.fluid.dropdown {
    width: inherit !important;
    min-height: 0 !important;
}

.ui.fluid.dropdown.players {
    align-self: center;
    margin-bottom: 20px;
}