{% extends 'stats/base.html' %}
{% block content %} 
    <div class="column-container">
        <select class="ui fluid dropdown players">
            <option value="">Select a Position</option>
            {% for position in positions.keys %}
                <option value="{{ position }}">{{ position }}</option>
            {% endfor %}
        </select>
        {% for position, players in positions.items %}
        <div class="ui styled fluid accordion {{ position }}">
        {% for player in players %}
            <div class="title">
            <i class="dropdown icon"></i>
            {{ player }}
            </div>
            <div class="content">
                {% if player.pos %}<p>Position: {{ player.pos }}</p>{% endif %}
                {% if player.height_in_meters %}<p>Height: {{ player.height_in_meters }}m</p>{% endif %}
                {% if player.weight_in_kilograms %}<p>Weight: {{ player.weight_in_kilograms }}kg</p>{% endif %}
                {% if player.dob %}<p>Date of Birth: {{ player.dob }}</p>{% endif %}
                {% if player.country %}<p>Country: {{ player.country }}</p>{% endif %}
                {% if player.years_pro %}<p>Years pro: {{ player.years_pro }}</p>{% endif %}
            </div>
        {% endfor %}
        </div>
        {% endfor %}
    </div>
{% endblock content %}
{% block script %}
    <script language="javascript">
        $(document).ready(function(){
            $('.dropdown').dropdown();
            $('.ui.accordion').accordion();
            $(".ui.dropdown").change(function(){
            var selectedPosition = $('.ui.dropdown option:selected').val();
            $('.accordion').not(`.${selectedPosition}`).hide();
            $(`.${selectedPosition}`).show();
        }); 
        });
    </script>
{% endblock script %}