<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{% static 'stylesheets/card.min.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'stylesheets/accordion.min.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'stats/header.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'stats/footer.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'stats/style.css' %}">
        <script
            src="https://code.jquery.com/jquery-3.1.1.min.js"
            integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
            crossorigin="anonymous"></script>
        <script src="{% static 'scripts/semantic.min.js' %}"></script>
    </head>
    <body>
        <header>
            <h1><span class="logoWhite">Hoop</span><span class="logoRed">France</span></h1>
            <input type="checkbox" id="nav-toggle" class="nav-toggle"/>
            <nav>
                <ul>
                    <li><a href="{% url 'scores' %}">Scores</a></li>
                    <li><a href="{% url 'schedule' %}">Schedule</a></li>
                    <li><a href="{% url 'standing' %}">Standings</a></li>
                    <li><a href="{% url 'players' %}">Players</a></li>
                    <li><a href="{% url 'teams' %}">Teams</a></li>
                </ul>
            </nav>
            <label for="nav-toggle" class="nav-toggle-label">
                <span></span>
            </label>
        </header>
        <div class="content-block">
            {% block content %}
            {% endblock content %}
        </div>
        <footer class="footer-container border-top ml-1 mr-1 pt-3 pb-3">
            <ul class="list-style-none d-flex flex-wrap">
                <li class="mr-3 text-gray">&copy 2020, HoopFrance, Inc.</li>
                <li class="mr-3"><a href="{% url 'scores' %}">Scores</a></li>
                <li class="mr-3"><a href="{% url 'schedule' %}">Schedule</a></li>
            </ul>
            <p class="ml-3"><a href="{% url 'home' %}"><span class="logoBlue">Hoop</span><span class="logoRed">France</span></a></p>
            <ul class="list-style-none d-flex flex-wrap">
                <li class="mr-3"><a href="{% url 'standing' %}">Standings</a></li>
                <li class="mr-3"><a href="{% url 'players' %}">Players</a></li>
                <li class="mr-3"><a href="{% url 'teams' %}">Teams</a></li>
            </ul>
        </footer>
        <script language='javascript'>
            $(document).ready(function(){
               $('.ui.accordion').accordion();
            });
        </script>
    </body>
</html>

