{% extends 'stats/base.html' %}
{% block content %} 
    <div>
        <select class="ui fluid dropdown">
            <option value="">Select a Conference</div>
            {% for conference in conferences.keys %}
                <option value="{{ conference }}">{{ conference }}</option>
            {% endfor %}
        </select>
        {% for conference, teams in conferences.items %}
        <table class="ui single line table {{ conference }}">
            <thead>
                <tr>
                    <th>Rank</th>
                    <th>Team</th>
                    <th>Wins</th>
                    <th>Losses</th>
                    <th>Division</th>
                </tr>
            </thead>
            <tbody>
                {% for team in teams %}
                <tr>
                    <td>{{ team.conference_rank }}</td>
                    <td>{{ team.team.full_name }}</td>
                    <td>{{ team.win }}</td>
                    <td>{{ team.loss }}</td>
                    <td>{{ team.division }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% endfor %}
    </div>
{% endblock content %}
{% block script %}
<script language="javascript">
    $(document).ready(function(){
        $('.dropdown').dropdown();
        $(".ui.dropdown").change(function(){
            var selectedConference = $('.ui.dropdown option:selected').val();
            $('.table').not(`.${selectedConference}`).hide();
            $(`.${selectedConference}`).show();
        }); 
    });
</script>
{% endblock %}